@media screen and (max-width: 500px) {
    #user-profile {
        margin-top: 5rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    #user-profile h1 {
        font-size: 1.3rem;
    }

    #user-profile span {
        font-size: .8rem;
    }
}